//! COLORS
$grey: #E0DFDB;
$light-grey: #F0F0F0;
$black: #292a2b;
$light-black: #404244;
$white: #FFFFFF;
$coral: #ED5D40;

//! BREAKPOINTS
$bp-lg: 1199.98px;
$bp-md: 991.98px;
$bp-sm: 767.98px;
$bp-xs: 575.98px;